---
import Layout from "../layouts/Layout.astro";
import Section from "components/Section.astro";
import Link from "components/Link.astro";
import ContactButton from "components/ContactButton.astro";
import Skill from "components/Skill.astro";
import Project from "components/Project.astro";
import ServiceCard from "components/ServiceCard.astro";
---

<Layout title="Tommy Huynh | Frontend Software Engineer">
  <main>
    <!-- NAV -->
    <header
      class="relative z-10 flex justify-center px-4 py-4 mx-auto md:justify-between sm:px-6 md:px-8 max-w-7xl"
    >
      <img src="/logo.svg" alt="Tomster logo" class="max-w-[120px]" />
      <nav class="items-center justify-end hidden gap-6 lg:gap-8 md:flex">
        <Link href="#about">About Me</Link>
        <Link href="#skills">Skills</Link>
        <Link href="#projects">Projects</Link>
        <Link href="#services">Services</Link>
        <ContactButton>Email Me</ContactButton>
      </nav>
    </header>

    <!-- HERO -->
    <Section
      id="here"
      className="flex flex-col-reverse justify-end md:justify-normal md:flex-row md:gap-12 min-h-screen -mt-16"
    >
      <div class="flex flex-col flex-1 text-center md:justify-center md:text-left">
        <h1 class="mb-6 text-4xl font-black sm:text-5xl md:text-6xl">
          Hello. I'm <span class="text-black">Tommy</span>.
        </h1>
        <p class="max-w-2xl text-xl leading-9 md:text-2xl">
          I'm a talented software engineer with a passion for turning ideas into stunning realities
          through the fusion of beautiful design and creative code wizardry.
        </p>
      </div>
      <div class="flex items-center justify-center flex-1">
        <img
          src="/developer-illustration.svg"
          alt="Illustration of a software engineer working at his desk."
        />
      </div>
    </Section>

    <!-- ABOUT -->
    <Section id="about">
      <hr class="border rounded-full border-divider" />
      <div class="flex flex-col items-center justify-center py-24 md:py-48">
        <h2 class="text-3xl font-black text-center sm:text-4xl md:text-5xl">
          My <span class="text-black">Experience</span>
        </h2>
        <p
          class="max-w-3xl py-12 leading-9 sm:leading-10 md:leading-[2.6rem] text-center sm:text-xl md:text-2xl"
        >
          I possess over four years of valuable experience in the development of scalable
          applications while making significant contributions at both Amazon Web Services and
          Anaplan.
        </p>
        <div class="flex flex-col items-center justify-center gap-8 sm:gap-16 mt-10 sm:flex-row">
          <img src="/aws.svg" alt="Amazon Web Services logo" class="max-w-[5rem] sm:max-w-[6rem]" />
          <img src="/anaplan.svg" alt="Anaplan logo" class="max-w-[8rem] sm:max-w-[10rem]" />
        </div>
      </div>
      <hr class="border rounded-full border-divider" />
    </Section>

    <!-- SKILLS -->
    <section id="skills" class="py-32">
      <h2
        class="px-4 mx-auto mb-10 text-3xl font-black text-center sm:text-4xl md:text-5xl sm:px-6 md:px-8 max-w-7xl"
      >
        My <span class="text-black">Skills</span>
      </h2>
      <div class="py-24 skills-bg">
        <div
          class="flex flex-col max-w-4xl gap-16 px-4 mx-auto text-white md:gap-32 md:flex-row sm:px-6 md:px-8"
        >
          <div class="flex flex-col gap-16">
            <Skill imgurl="/skills/html.svg" altText="html logo">html</Skill>
            <Skill imgurl="/skills/css.svg" altText="css logo">css</Skill>
            <Skill imgurl="/skills/javascript.svg" altText="javascript logo">javascript</Skill>
            <Skill imgurl="/skills/nodejs.svg" altText="nodejs logo">node js</Skill>
            <Skill imgurl="/skills/webflow.svg" altText="webflow logo">webflow</Skill>
          </div>
          <div class="flex flex-col gap-16">
            <Skill imgurl="/skills/react.svg" altText="react logo">react</Skill>
            <Skill imgurl="/skills/typescript.svg" altText="typescript logo">typescript</Skill>
            <Skill imgurl="/skills/nextjs.svg" altText="nextjs logo">next js</Skill>
            <Skill imgurl="/skills/shopify.svg" altText="shopify logo">shopify</Skill>
            <Skill imgurl="/skills/figma.svg" altText="figma logo">figma</Skill>
          </div>
        </div>
      </div>
    </section>

    <!-- PROJECTS -->
    <Section id="projects">
      <h2 class="mb-12 text-3xl font-black text-center sm:mb-16 md:mb-24 sm:text-4xl md:text-5xl">
        My <span class="text-black">Projects</span>
      </h2>
      <Project
        title="Convospace"
        imgUrl="/projects/convospace.png"
        altText="Screenshot of the Convospace application"
        href="https://convo-space.vercel.app"
      />
      <Project
        title="Web3 Staking Application"
        imgUrl="/projects/staking.png"
        altText="Screenshot of the web3 staking application"
        href="https://web3-projects-gamma.vercel.app/staking"
      />
      <Project
        title="Impeccable Vision"
        imgUrl="/projects/impeccable.png"
        altText="Screenshot of the Impeccable Vision website"
        href="https://www.impeccablevisiontransport.com"
      />
      <Project
        title="A Collection of Web3 Apps"
        imgUrl="/projects/web3.png"
        altText="Screenshot of the web3 projects application"
        href="https://web3-projects-gamma.vercel.app"
      />
      <Project
        title="Top 10 Cryptocurrency Exchanges"
        imgUrl="/projects/exchanges.png"
        altText="Screenshot of the top 10 exchanges application"
        href="https://top-10-exchanges-table.vercel.app"
      />
      <Project
        title="NFT Gallery"
        imgUrl="/projects/nft_gallery.png"
        altText="Screenshot of NFT gallery application"
        href="https://nft-gallery-plum.vercel.app/"
      />
    </Section>

    <!-- SERVICES -->
    <section id="services" class="pt-32">
      <h2
        class="px-2 mx-auto mb-10 text-3xl font-black text-center sm:text-4xl md:text-5xl sm:px-6 md:px-8 max-w-7xl"
      >
        My <span class="text-black">Services</span>
      </h2>
      <div class="py-24 services-bg">
        <div
          class="grid max-w-4xl gap-16 px-2 mx-auto justify-items-center md:grid-cols-2 sm:px-6 md:px-8"
        >
          <ServiceCard title="Web Development">
            From creating responsive websites to building feature-rich web applications, my
            specialty lies in turning your digital aspirations into a vibrant reality.
          </ServiceCard>
          <ServiceCard title="Webflow">
            Crafting websites in Webflow enables me to deliver fully responsive, visually
            captivating sites with meticulously coded, semantic markup helping clients reduce their
            development costs.
          </ServiceCard>
          <ServiceCard title="Shopify">
            With a focus on Shopify development, I handle store setup and theme customization to
            create personalized e-commerce solutions that optimize operations and elevate customer
            engagement.
          </ServiceCard>
          <ServiceCard title="Consultation">
            Whether you need specialized expertise on a project or strategic guidance in the digital
            landscape, I offer flexible contract services and consultation to help you achieve your
            goals efficiently and effectively.
          </ServiceCard>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer class="flex flex-col items-center gap-12 py-12 text-center bg-footer-bg">
      <hr class="w-8/12 border rounded-full border-divider" />
      <p class="font-semibold uppercase text-xl sm:text-2xl md:text-3xl tracking-[1px] text-black">
        Lets Work Together
      </p>
      <ContactButton className="bg-white">Email Me</ContactButton>
      <p class="text-xs">© Copyright - Tomster Designs</p>
    </footer>
  </main>
</Layout>

<style is:global>
  h1,
  h2 {
    font-weight: 900 !important;
  }

  h4 {
    letter-spacing: 4px !important;
  }

  p {
    letter-spacing: 1px;
  }

  .skills-bg {
    background: url("/desk-books.jpeg");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.85);
  }

  .services-bg {
    background: url("/desk-laptops.jpeg");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.85);
  }
</style>
