---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tommy Huynh | Frontend Software Engineer">
  <main>
    <section
      id="hero"
      class="h-screen flex flex-col justify-center items-center text-center p-2"
    >
      <h1 class="text-5xl sm:text-6xl mb-3 font-semibold">Hi, I'm Tommy</h1>
      <h2 class="text-2xl sm:text-3xl mb-5 font-medium">
        Frontend Software Engineer
      </h2>
      <p class="text-lg sm:text-2xl">
        I build accessible, interactive and digital experiences for the web.
      </p>
    </section>
  </main>
</Layout>
