---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tommy Huynh | Frontend Software Engineer">
  <main>
    <section
      id="hero"
      class="h-screen flex flex-col justify-center items-center text-center p-2"
    >
      <h1 class="text-5xl sm:text-6xl mb-3 font-semibold">Hi, I'm Tommy</h1>
      <h2 class="text-2xl sm:text-3xl mb-5 font-medium">
        Senior Frontend Software Engineer
      </h2>
      <p class="text-lg sm:text-2xl">
        I build accessible, interactive and digital experiences for the web.
      </p>
      <p class="text-md sm:text-lg mt-10 text-gray-500">
        This website is currently under construction. Please check back soon!
        But click below for a link to a recent full stack project I worked on.
      </p>
      <a
        href="https://convo-space.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"
        class="mt-5 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded"
      >
        Convo Space - A community threads application similar to Reddit
      </a>
    </section>
  </main>
</Layout>
