---
type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<a
  href="mailto:tommy@tomster.me"
  class={`text-xs lg:text-sm px-4 lg:px-6 py-[6px] border border-black/30 rounded-full uppercase font-medium tracking-[2px] hover:bg-divider hover:border-divider hover:text-white hover:shadow-lg transition-all ease-in-out ${className}`}
  ><slot />
</a>
