---
type Props = {
  title: string;
  description?: string;
  imgUrl: string;
  altText: string;
  href?: string;
};

const { title, description, imgUrl, altText, href } = Astro.props;
---

<div class="mb-24">
  <h3
    class="uppercase sm:text-xl md:text-2xl tracking-[2px] sm:tracking-[4px] md:tracking-[6px] text-base-grey mb-6 font-medium"
  >
    {title} - <a
      href={href}
      target="_blank"
      class="tracking-widest text-blue-400 normal-case hover:text-blue-700">Visit app &#8594;</a
    >
  </h3>
  <div class="overflow-hidden rounded-md shadow-lg">
    <img src={imgUrl} alt={altText} />
  </div>
</div>
