---
type Props = {
  id?: string;
  className?: string;
};

const { id, className } = Astro.props;
---

<section id={id} class={`py-4 px-4 sm:px-6 md:px-8 mx-auto max-w-7xl ${className}`}>
  <slot />
</section>
