---
type Props = {
  imgurl: string;
  altText: string;
};

const { imgurl, altText } = Astro.props;
---

<div class="flex items-center gap-4 mx-auto md:mx-0">
  <img src={imgurl} alt={altText} class="w-10 h-10 sm:w-12 sm:h-12" />
  <p class="sm:text-xl md:text-2xl uppercase font-bold tracking-[12px]">
    <slot />
  </p>
</div>
